:root {
  --mainRed: #da291c;
  --mainBlackText: #1f1f1f;
  --mainWhite: #ffffff;
  --mainBlackBackground: #1e1e1e;
  --mainLightGrey: #eceded;
  --mainDarkGrey: #e0e1e2;
  --mainLightBlue: #b9e5eb;
}
